!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TrelloSprintMetrics
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  #nav
    - if current_user
      = link_to "Dashboard", root_path
      = link_to "Edit Profile", edit_user_path(current_user.id)
      = link_to "Logout", :logout, method: :post

    = yield
